.container-fluid{
    background-color: #3C3D49;
    margin-right: -1px;
}
/* body div.container-fluid{
    padding-bottom: -50vh;
} */
.navbar{
    height: 10%;
   background-color: #3D3D49
     ;
}

.border-light{
    border-color: #ffffffc4;
}
aside p{
    color:#666565ce;
    font-size: small;
    margin-left: -10px;
}
aside textarea::placeholder{
    font-size: 22px;    
}
aside button.btn-btn{
    height: 40px;
    background-color: #96c93e;
    border-radius: 5px;
}

.subrayado{
    border-bottom: 1px dotted black;
}
footer{
    background-color: #1c3643;
    
} 
/* .container-fluid02, .collapse{
    height: 70px;
    background-color: #1c3643;
    padding-top: 30px;
    
    
}  */
a{
    color: #ffffff;
    text-decoration: none;
}
body, html {
    height: 100%;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ba1.jpg");
  height: 50%;
  background-position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 85vh;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: end;
  position: absolute;
  top: 50%;
  left: 65%;
  margin-right: -19%;
  transform: translate(-50%, -50%);
  color: white; 
}
section .button1.button.btn-btn{
background-color: red;
}
